.container {
  /* background-color: #ccc; */
  margin: 0 auto;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900px;
  font-size: 20px
}